openapi: 3.0.3
info:
  title: BeeL. Public API
  description: |
    Public invoicing API for self-employed professionals in Spain with VeriFactu regulatory compliance.

    Authenticate using API Keys (`Authorization: Bearer <key>`). Keys are scoped and environment-aware:
    `beel_sk_live_*` targets production, `beel_sk_test_*` targets sandbox (no quota consumed, VeriFactu test mode).

    POST endpoints accept an `Idempotency-Key` header (UUID) to safely retry requests without creating duplicates.
  version: 1.0.1
  contact:
    name: BeeL. Technical Team
    email: it@beel.es
    url: https://beel.es
  license:
    name: Proprietary
    url: https://beel.es/license
servers:
  - url: https://app.beel.es/api
    description: Production server
security:
  - ApiKeyAuth: []
tags:
  - name: Invoices
    description: Invoice CRUD operations
  - name: InvoiceLifecycle
    description: Invoice state transitions and scheduling
  - name: InvoiceDelivery
    description: Invoice delivery, bulk operations and exports
  - name: Customers
    description: Customer management
  - name: Customer Import
    description: Bulk creation, CSV import, and Holded import operations
  - name: Customer Templates
    description: Templates and sample files for customer imports
  - name: Products
    description: Product and service catalog management
  - name: ConfigurationTax
    description: Tax configuration and tax type catalogs
  - name: InvoiceSeries
    description: Invoice series management
  - name: ConfigurationVeriFactu
    description: VeriFactu compliance configuration
  - name: ConfigurationPreferences
    description: User language and invoice customization preferences
  - name: NIF
    description: Tax ID validation against AEAT tax registry
  - name: PublicCompanies
    description: Company (sub-account) CRUD operations
  - name: PublicCompanyRepresentations
    description: |
      VeriFactu representation flow for digital signature and AEAT registration.

      **Complete SaaS integration flow:**
      1. `POST /v1/companies` — Create company/NIF (sub-account)
      2. `POST /v1/companies/{id}/representation/generate` — Generate unsigned PDF
      3. `GET /v1/companies/{id}/representation/download` — Download PDF for signing
      4. `POST /v1/companies/{id}/representation/submit` — Upload signed PDF
      5. `GET /v1/companies/{id}/representation/status` — Check VeriFactu status
  - name: PublicCompanyApiKeys
    description: |
      Scoped API key management per company.

      Create API keys scoped to a specific company for SaaS integrations.
      Use master key + `X-Active-Profile: {company_id}` header to operate as that company.
  - name: RecurringInvoices
    description: |
      Recurring invoice template management and automated invoice generation.

      Create templates that automatically generate invoices on a schedule.
      Supports monthly recurrence, pause/resume, skip, manual generation,
      and invoice preview.
  - name: Webhooks
    description: |
      Outbound webhook subscriptions for real-time event notifications.

      Register HTTPS endpoints to receive event payloads when key actions occur
      (e.g. VeriFactu submission accepted/rejected by AEAT).

      All deliveries are signed with HMAC-SHA256 (`BeeL-Signature` header).
      Failed deliveries are retried up to 5 times with exponential backoff.
paths:
  /v1/invoices:
    get:
      tags:
        - Invoices
      summary: List invoices
      description: Returns a paginated list of invoices with optional filters
      operationId: listInvoices
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          description: Global search across invoice number, recipient name, recipient NIF, and series code (partial, case-insensitive)
          schema:
            type: string
        - name: status
          in: query
          description: Filter by invoice status
          schema:
            $ref: '#/components/schemas/InvoiceStatus'
        - name: type
          in: query
          description: Filter by invoice type
          schema:
            $ref: '#/components/schemas/InvoiceType'
        - name: customer_id
          in: query
          description: Filter by customer UUID
          schema:
            $ref: '#/components/schemas/UUID'
        - name: date_from
          in: query
          description: Issue date from (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          description: Issue date to (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: invoice_number
          in: query
          description: Search by invoice number (e.g., 2025/0001)
          schema:
            type: string
        - name: recipient_name
          in: query
          description: Filter by recipient's fiscal name (partial, case-insensitive search)
          schema:
            type: string
        - name: recipient_nif
          in: query
          description: Filter by recipient's NIF (partial search)
          schema:
            type: string
        - name: series_code
          in: query
          description: Filter by series code
          schema:
            type: string
        - name: taxable_base_min
          in: query
          description: Minimum taxable base
          schema:
            type: number
            format: double
        - name: taxable_base_max
          in: query
          description: Maximum taxable base
          schema:
            type: number
            format: double
        - name: total_min
          in: query
          description: Minimum invoice total
          schema:
            type: number
            format: double
        - name: total_max
          in: query
          description: Maximum invoice total
          schema:
            type: number
            format: double
        - name: verifactu_status
          in: query
          description: |
            Filter by VeriFactu status. Special values:
            - "NO_VERIFACTU": Invoices where VeriFactu is not enabled
            - "PENDING": Invoices with VeriFactu enabled pending submission
            - "ACCEPTED": Invoices submitted and accepted by AEAT
            - "REJECTED": Invoices submitted and rejected by AEAT
          schema:
            type: string
            enum:
              - NO_VERIFACTU
              - PENDING
              - ACCEPTED
              - REJECTED
        - name: sort_by
          in: query
          description: Field to sort by (e.g., issue_date, invoice_number, invoice_total)
          schema:
            type: string
        - name: sort_order
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Invoice list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - invoices
                          - pagination
                        properties:
                          invoices:
                            type: array
                            items:
                              $ref: '#/components/schemas/Invoice'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
              examples:
                list_success:
                  $ref: '#/components/examples/list-invoices-success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Invoices
      summary: Create invoice
      description: |
        Creates a new invoice.

        **Idempotency:** Supports `Idempotency-Key` header to prevent duplicates.
      operationId: createInvoice
      parameters:
        - name: Idempotency-Key
          in: header
          description: UUID to prevent duplicates (recommended)
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
            examples:
              basic_invoice:
                $ref: '#/components/examples/create-basic'
              adhoc_invoice:
                $ref: '#/components/examples/create-with-adhoc-customer'
              invoice_irpf:
                $ref: '#/components/examples/create-with-irpf'
              invoice_surcharge:
                $ref: '#/components/examples/create-with-equivalence-surcharge'
              invoice_igic:
                $ref: '#/components/examples/create-with-igic'
              invoice_foreign:
                $ref: '#/components/examples/create-foreign-customer'
              issue_directly:
                $ref: '#/components/examples/create-issue-directly'
              custom_email:
                $ref: '#/components/examples/create-with-custom-email'
              simplified_without_nif:
                $ref: '#/components/examples/simplified-without-nif'
              simplified_with_nif:
                $ref: '#/components/examples/simplified-with-nif'
      responses:
        '201':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
              examples:
                created_success:
                  $ref: '#/components/examples/created-success'
        '400':
          $ref: '#/components/responses/InvalidJsonFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - Idempotency key already processed or duplicate invoice number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                conflict:
                  $ref: '#/components/examples/conflict-409'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  $ref: '#/components/examples/validation-422'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}:
    get:
      tags:
        - Invoices
      summary: Get invoice by ID
      description: Retrieves complete details of a specific invoice
      operationId: getInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
              examples:
                get_success:
                  $ref: '#/components/examples/get-invoice-success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Invoices
      summary: Update invoice
      description: |
        Updates an existing draft invoice.

        **Restriction:** Only invoices in `DRAFT` status can be modified.
      operationId: updateInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
            examples:
              update_invoice:
                $ref: '#/components/examples/update-invoice'
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/InvalidJsonFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Invoices
      summary: Delete invoice
      description: |
        Deletes (marks as deleted) an invoice.

        **Soft delete:** The invoice is not physically deleted, only marked as deleted.

        **Restriction:** Only invoices in `DRAFT` status can be deleted.
      operationId: deleteInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Invoice deleted successfully
        '400':
          description: Cannot delete (invoice already sent/paid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/pdf:
    post:
      tags:
        - InvoiceDelivery
      summary: Download multiple invoice PDFs as ZIP
      description: |
        Downloads multiple invoice PDFs as a single ZIP file.

        **Limits:**
        - Maximum 20 invoices per request
        - Maximum 50MB total ZIP size

        **Partial success:** If some PDFs are not available (not generated, not found),
        the response will include a `failures` array with details. The ZIP will still
        be generated with the available PDFs.

        **Error handling:**
        - If NO PDFs are available, returns 400 Bad Request
        - If some PDFs are unavailable, returns 200 with partial ZIP + failures list
      operationId: downloadInvoicesPdfBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
              properties:
                invoice_ids:
                  type: array
                  description: List of invoice IDs to download
                  minItems: 1
                  maxItems: 500
                  items:
                    $ref: '#/components/schemas/UUID'
            examples:
              download_5_invoices:
                summary: Download 5 invoices
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                    - 550e8400-e29b-41d4-a716-446655440003
                    - 550e8400-e29b-41d4-a716-446655440004
                    - 550e8400-e29b-41d4-a716-446655440005
      responses:
        '200':
          description: ZIP file with invoice PDFs
          headers:
            X-Bulk-Total:
              description: Total number of requested invoices
              schema:
                type: integer
            X-Bulk-Successful:
              description: Number of PDFs included in ZIP
              schema:
                type: integer
            X-Bulk-Failed:
              description: Number of PDFs that could not be included
              schema:
                type: integer
            X-Bulk-Failures:
              description: JSON array with failure details (base64 encoded if present)
              schema:
                type: string
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: No valid PDFs available or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error (too many invoices, empty list)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/send:
    post:
      tags:
        - InvoiceDelivery
      summary: Send multiple invoices by email
      description: |
        Sends multiple invoices by email to the specified recipients.

        **Limits:**
        - Maximum 20 invoices per request
        - Maximum 25MB total attachment size

        **Email behavior:**
        - Single email with all PDFs as attachments
        - Uses BULK_INVOICES template

        **Validations:**
        - Invoices must have status ISSUED, PAID, SENT or OVERDUE (not DRAFT or VOIDED)
        - At least one recipient required (from request or user's accountant email)

        **Partial success:** If some invoices cannot be attached, the email will
        still be sent with available PDFs. Response includes `failures` array.
      operationId: sendInvoicesBulkEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
              properties:
                invoice_ids:
                  type: array
                  description: List of invoice IDs to send
                  minItems: 1
                  maxItems: 20
                  items:
                    $ref: '#/components/schemas/UUID'
                recipients:
                  type: array
                  description: |
                    Email recipients. If not provided, uses accountant email from user profile.
                  items:
                    $ref: '#/components/schemas/Email'
                cc:
                  type: array
                  description: CC recipients
                  items:
                    $ref: '#/components/schemas/Email'
                subject:
                  type: string
                  description: Custom email subject. If not provided, uses default template.
                  maxLength: 200
                message:
                  type: string
                  description: Custom message body. If not provided, uses default template.
                  maxLength: 2000
                language:
                  allOf:
                    - $ref: '#/components/schemas/Language'
                  description: Email language. If not provided, uses user's language.
            examples:
              send_to_accountant:
                summary: Send to accountant
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                  recipients:
                    - accountant@example.com
                  subject: Invoices for January 2025
                  message: Please find attached the invoices from last month for your review.
              send_with_cc:
                summary: Send with CC
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                  recipients:
                    - accountant@example.com
                  cc:
                    - copy@example.com
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - email_id
                          - sent_to
                          - sent_at
                          - total_invoices
                          - invoices_attached
                        properties:
                          email_id:
                            $ref: '#/components/schemas/UUID'
                          sent_to:
                            type: array
                            items:
                              $ref: '#/components/schemas/Email'
                          sent_at:
                            type: string
                            format: date-time
                          total_invoices:
                            type: integer
                            description: Total number of requested invoices
                          invoices_attached:
                            type: integer
                            description: Number of PDFs successfully attached
                          failures:
                            type: array
                            description: List of invoices that could not be attached
                            items:
                              type: object
                              properties:
                                invoice_id:
                                  $ref: '#/components/schemas/UUID'
                                error_code:
                                  type: string
                                  enum:
                                    - NOT_FOUND
                                    - PDF_NOT_GENERATED
                                    - INVALID_STATUS
                                    - INTERNAL_ERROR
                                error_message:
                                  type: string
        '400':
          description: No valid invoices to send or no recipients specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error (too many invoices, invalid recipients)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/status:
    post:
      tags:
        - InvoiceDelivery
      summary: Change status of multiple invoices
      description: |
        Changes the status of multiple invoices in a single operation.

        **Supported status changes:**
        - **SENT:** Mark multiple invoices as sent (from ISSUED)
        - **PAID:** Mark multiple invoices as paid (from ISSUED, SENT, or OVERDUE)

        **Partial success:** If some invoices cannot be updated, the operation
        continues with the others. The response includes details of failures.

        **Limits:**
        - Maximum 50 invoices per request

        **Validations:**
        - All invoices must belong to the authenticated user
        - Each invoice must be in a valid status for the requested transition
        - For PAID: payment_date is required
      operationId: changeInvoicesStatusBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
                - new_status
              properties:
                invoice_ids:
                  type: array
                  description: List of invoice IDs to update
                  minItems: 1
                  maxItems: 50
                  items:
                    $ref: '#/components/schemas/UUID'
                new_status:
                  type: string
                  description: Target status for the invoices
                  enum:
                    - SENT
                    - PAID
                payment_date:
                  type: string
                  format: date
                  description: Payment date (required when new_status is PAID)
                  example: '2025-01-15'
            examples:
              mark_as_sent:
                summary: Mark invoices as sent
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                  new_status: SENT
              mark_as_paid:
                summary: Mark invoices as paid
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                  new_status: PAID
                  payment_date: '2025-01-15'
      responses:
        '200':
          description: Status change operation completed (may include partial failures)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - total
                          - successful
                          - failed
                        properties:
                          total:
                            type: integer
                            description: Total number of invoices processed
                            example: 5
                          successful:
                            type: integer
                            description: Number of invoices successfully updated
                            example: 4
                          failed:
                            type: integer
                            description: Number of invoices that failed to update
                            example: 1
                          failures:
                            type: array
                            description: Details of failed updates
                            items:
                              type: object
                              required:
                                - invoice_id
                                - reason
                              properties:
                                invoice_id:
                                  $ref: '#/components/schemas/UUID'
                                reason:
                                  type: string
                                  description: Reason for the failure
                                  example: Cannot change from PAID to SENT
        '400':
          description: Invalid request (empty list, missing payment_date for PAID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error (unsupported status, too many invoices)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/pdf:
    get:
      tags:
        - InvoiceDelivery
      summary: Get invoice PDF download URL
      description: |
        Generates a temporary pre-signed URL to download the invoice PDF.

        **Security:**
        - URL expires automatically in 5 minutes
        - HMAC signature prevents tampering
        - Only allows download (GET), no modification

        **Benefits:**
        - Direct download from storage (bypasses backend)
        - Better performance and lower server load
        - Compatible with browser cache and CDN
        - Ideal for large files

        **Frontend usage:**
        ```javascript
        const response = await fetch('/v1/invoices/{id}/pdf');
        const { download_url } = await response.json();
        window.open(download_url, '_blank'); // Direct download
        ```

        **Format:** PDF is generated according to Spanish tax regulations.
      operationId: generateInvoicePdf
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Download URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePdfResponse'
        '400':
          description: PDF has not been generated yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/pdf/preview:
    get:
      tags:
        - InvoiceDelivery
      summary: Preview draft invoice PDF
      description: |
        Generates a PDF preview for a draft invoice and returns the binary content directly.

        **Requirements:**
        - Invoice must be in BORRADOR (draft) status
        - The PDF shows "BORRADOR" as the invoice number
        - No VeriFactu QR code is included

        **Behavior:**
        - PDF is generated on-the-fly (not stored)
        - Each request regenerates the PDF (reflects latest draft changes)
        - Response is `application/pdf` for direct browser preview
      operationId: previewDraftInvoicePdf
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID (must be a draft)
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: PDF preview generated successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Invoice is not in draft status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/send:
    post:
      tags:
        - InvoiceDelivery
      summary: Send invoice by email
      description: |
        Sends the invoice by email to the customer.

        **Email:** Sent to the billing emails configured for the customer.

        **Attachments:** Includes the invoice PDF.
      operationId: sendInvoiceEmail
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email_id:
                            $ref: '#/components/schemas/UUID'
                          sent_to:
                            type: array
                            items:
                              $ref: '#/components/schemas/Email'
                          sent_at:
                            type: string
                            format: date-time
        '400':
          description: Customer has no configured emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/mark-paid:
    post:
      tags:
        - InvoiceLifecycle
      summary: Mark invoice as paid
      description: |
        Marks an invoice as paid.

        **Status change:** `SENT` → `PAID`

        **Note:** Send `Content-Type: application/json` even when body is empty.
      operationId: markInvoicePaid
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_date:
                  type: string
                  format: date
                  description: Payment date (defaults to today)
                  example: '2025-01-15'
                payment_method:
                  $ref: '#/components/schemas/PaymentInfo'
                  description: |
                    Payment details object (not a string enum). Example:
                    `{ "method": "BANK_TRANSFER", "iban": "ES9121000418450200051332" }`
      responses:
        '200':
          description: Invoice marked as paid successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot mark as paid (invalid status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/void:
    post:
      tags:
        - InvoiceLifecycle
      summary: Void invoice
      description: |
        Voids an invoice by changing its status to `VOIDED`.

        **Status change:** `ISSUED`, `SENT`, `OVERDUE`, `PAID` or `RECTIFIED` → `VOIDED`

        **Use when:** The operation never took place (invoice issued by mistake, duplicate, etc.)
        For invoices already submitted to VeriFactu, the cancellation is sent to AEAT automatically.

        **Note:** If the operation did take place but with errors, use the corrective invoice endpoint instead.
      operationId: voidInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  minLength: 10
                  maxLength: 500
                  description: Void reason (minimum 10 characters)
                  example: Invoice issued with incorrect customer data
                void_date:
                  type: string
                  format: date
                  description: Void date (defaults to today)
                  example: '2025-01-20'
      responses:
        '200':
          description: Invoice voided successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot void invoice (invalid status or incorrect data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/corrective:
    post:
      tags:
        - InvoiceLifecycle
      summary: Create corrective invoice
      description: |
        Creates a corrective invoice to correct or void an issued invoice.

        **Rectification types:**
        - **TOTAL**: Completely voids the original invoice (original status → VOIDED)
        - **PARTIAL**: Partially corrects the original invoice (original status → RECTIFIED)

        **VeriFactu codes:**
        - R1: Legal error and Art. 80 One, Two and Six LIVA
        - R2: Article 80 Three LIVA (Bankruptcy)
        - R3: Article 80 Four LIVA (Bad debts)
        - R4: Other causes
        - R5: Simplified invoices (only for simplified)

        **Validations:**
        - Original invoice must be in status ISSUED, SENT, PAID, OVERDUE or RECTIFIED
        - Cannot rectify a DRAFT invoice (must be issued first)
        - Cannot rectify a VOIDED invoice (final status)
        - For TOTAL rectification: Another total corrective cannot already exist
        - For PARTIAL rectification: Multiple partial correctives are allowed

        **Lines:**
        - TOTAL: Optional (if not provided, original lines are copied with negated amounts)
        - PARTIAL: REQUIRED (adjustment lines with positive or negative amounts)
      operationId: createCorrectiveInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID to rectify
          schema:
            $ref: '#/components/schemas/UUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorrectiveInvoiceRequest'
            examples:
              corrective_total_r1:
                $ref: '#/components/examples/corrective-total-r1'
              corrective_total_r4:
                $ref: '#/components/examples/corrective-total-r4'
              corrective_partial_r2:
                $ref: '#/components/examples/corrective-partial-r2'
              corrective_partial_r3:
                $ref: '#/components/examples/corrective-partial-r3'
      responses:
        '201':
          description: Corrective invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Invalid rectification data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Original invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A total corrective invoice already exists for this invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Original invoice cannot be rectified (invalid status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/issue:
    post:
      tags:
        - InvoiceLifecycle
      summary: Issue invoice (DRAFT → ISSUED)
      description: |
        Finalizes a draft invoice and marks it as issued.

        **Status change:** `DRAFT` → `ISSUED`

        **Actions performed:**
        - Assigns definitive invoice number according to configured series
        - Marks invoice as finalized (not modifiable)
        - Prepares invoice for sending to customer

        **Validations:**
        - Invoice must be in DRAFT status
        - All invoice data must be complete and valid

        **Note:** After issuing, the invoice can be sent to the customer via
        the `/invoices/{id}/send` endpoint
      operationId: issueInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
        - name: wait_for_pdf
          in: query
          required: false
          description: |
            If `true`, waits for PDF generation and returns the URL in the response.
            Adds ~1-2s latency but guarantees PDF is immediately available.
            If `false` (default), PDF is generated asynchronously.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Invoice issued successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot issue invoice (invalid status or incomplete data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Invoice cannot be issued (validation failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/mark-sent:
    post:
      tags:
        - InvoiceLifecycle
      summary: Mark invoice as sent
      description: |
        Marks an invoice as sent manually.

        **Use case:** When the invoice was sent via WhatsApp, paper, or any other
        channel outside of the email system.

        **Status change:** `ISSUED` → `SENT`

        **Records:** Sets `sent_at` timestamp for tracking.

        **Note:** Send `Content-Type: application/json` even when body is empty.
      operationId: markInvoiceSent
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sent_at:
                  type: string
                  format: date-time
                  description: |
                    Custom timestamp for when the invoice was sent.
                    If not provided, the current time will be used.
                  example: '2025-01-29T18:45:00Z'
      responses:
        '200':
          description: Invoice marked as sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot mark as sent (invalid status - must be ISSUED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/revert-to-issued:
    post:
      tags:
        - InvoiceLifecycle
      summary: Revert invoice to issued status
      description: |
        Reverts an invoice from SENT to ISSUED status.

        **Use case:** To correct errors when an invoice was marked as sent by mistake.

        **Status change:** `SENT` → `ISSUED`

        **Side effects:** Clears the `sent_at` timestamp.
      operationId: revertInvoiceToIssued
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice reverted to ISSUED successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot revert (invoice must be in SENT status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/schedule:
    post:
      tags:
        - InvoiceLifecycle
      summary: Schedule invoice for future processing
      description: |
        Schedules a draft invoice to be automatically processed on a future date.

        **Status change:** `DRAFT` → `SCHEDULED`

        **Actions available:**
        - `DRAFT`: Convert to draft for manual review on the scheduled date
        - `ISSUE_AND_SEND`: Issue and send automatically on the scheduled date
      operationId: scheduleInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scheduled_for
              properties:
                scheduled_for:
                  type: string
                  format: date
                  description: Date when the invoice should be processed (must be today or future)
                  example: '2025-02-15'
                action:
                  $ref: '#/components/schemas/GenerationAction'
      responses:
        '200':
          description: Invoice scheduled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot schedule (invalid date or invoice state)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/unschedule:
    post:
      tags:
        - InvoiceLifecycle
      summary: Cancel scheduled invoice
      description: |
        Cancels a scheduled invoice and converts it back to draft.

        **Status change:** `SCHEDULED` → `DRAFT`

        The invoice can then be edited or manually issued.
      operationId: unscheduleInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice unscheduled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot unschedule (invoice must be in SCHEDULED status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/reschedule:
    patch:
      tags:
        - InvoiceLifecycle
      summary: Reschedule invoice
      description: |
        Changes the scheduled date for a scheduled invoice.

        **Status:** Remains `SCHEDULED`

        The new date must be today or in the future.
      operationId: rescheduleInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scheduled_for
              properties:
                scheduled_for:
                  type: string
                  format: date
                  description: New date when the invoice should be processed
                  example: '2025-03-01'
      responses:
        '200':
          description: Invoice rescheduled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot reschedule (invalid date or invoice state)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/duplicate:
    post:
      tags:
        - Invoices
      summary: Duplicate invoice as draft
      description: |
        Creates a copy of an existing invoice as a new draft.

        **Use case:** Quickly create a new invoice based on an existing one,
        useful for recurring invoices to the same customer.

        **What is copied:**
        - Customer data (recipient)
        - Invoice lines (descriptions, quantities, prices, taxes)
        - Payment method
        - Series (if specified, otherwise uses default)
        - Observations

        **What is NOT copied (reset to defaults):**
        - Invoice number (null - assigned when issued)
        - Status (always DRAFT)
        - Issue date (always set to today)
        - Due date (recalculated based on new issue date)
        - VeriFactu data
        - PDF
        - Payment date
        - Sent date

        **Result:** A new draft invoice ready for review and emission.

        **Note:** Send `Content-Type: application/json` even when body is empty.
      operationId: duplicateInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: ID of the invoice to duplicate
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                series_id:
                  allOf:
                    - $ref: '#/components/schemas/UUID'
                  description: |
                    Series ID for the new invoice.
                    If not provided, uses the same series as the original.
                notes:
                  type: string
                  maxLength: 2000
                  description: |
                    Observations for the new invoice.
                    If not provided, copies from the original invoice.
            examples:
              simple_duplicate:
                summary: Simple duplication (defaults)
                value: {}
              duplicate_other_series:
                summary: Duplication to different series
                value:
                  series_id: 550e8400-e29b-41d4-a716-446655440099
      responses:
        '201':
          description: Invoice duplicated successfully as draft
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot duplicate invoice (e.g., invoice is deleted)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Original invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/export/excel:
    post:
      tags:
        - InvoiceDelivery
      summary: Export invoices to Excel
      description: |
        Exports invoices to an Excel file (XLSX format).

        **Two modes of operation:**
        - **By IDs:** Export specific invoices by providing `invoice_ids`
        - **By filters:** Export all invoices matching filter criteria

        **Two export formats (like Holded):**
        - **SUMMARY:** One row per invoice with aggregated totals (default)
        - **ITEMS:** One row per invoice line item, ideal for import compatibility

        **Columns for SUMMARY format:**
        - Date, Number, Due Date, Customer, NIF
        - Description, Subtotal, IVA, Withholding, Equivalence Surcharge
        - Total, Collected, Pending, Status, Payment Method

        **Columns for ITEMS format:**
        - Invoice Number, Date, Due Date, Draft, Contact, Contact NIF
        - Address, Postal Code, City, Province, Country
        - SKU, Item, Units, Unit Price, Discount %
        - Subtotal, Tax Type, Tax %, Tax Amount
        - Surcharge %, Surcharge Amount, IRPF %, IRPF Amount, Total

        **Limits:**
        - Maximum 5000 invoices per export
        - All invoices must belong to the authenticated user (RLS enforced)

        **Usage example (Frontend):**
        ```javascript
        const response = await fetch('/v1/invoices/export/excel', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ invoice_ids: [...], format: 'ITEMS' })
        });
        const blob = await response.blob();
        // Download the blob as file
        ```
      operationId: exportInvoicesExcel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_ids:
                  type: array
                  description: |
                    List of specific invoice IDs to export.
                    If provided, filters are ignored.
                  items:
                    $ref: '#/components/schemas/UUID'
                format:
                  type: string
                  description: |
                    Export format.
                    - **SUMMARY**: One row per invoice with totals (default)
                    - **ITEMS**: One row per invoice line item
                  enum:
                    - SUMMARY
                    - ITEMS
                  default: SUMMARY
                status:
                  $ref: '#/components/schemas/InvoiceStatus'
                type:
                  $ref: '#/components/schemas/InvoiceType'
                date_from:
                  type: string
                  format: date
                  description: Issue date from (YYYY-MM-DD)
                date_to:
                  type: string
                  format: date
                  description: Issue date to (YYYY-MM-DD)
                customer_id:
                  $ref: '#/components/schemas/UUID'
                recipient_name:
                  type: string
                  description: Filter by recipient name (partial match)
                recipient_nif:
                  type: string
                  description: Filter by recipient NIF (partial match)
                series_code:
                  type: string
                  description: Filter by series code
            examples:
              export_by_ids:
                summary: Export specific invoices (default format)
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                    - 550e8400-e29b-41d4-a716-446655440003
              export_items_format:
                summary: Export as items (one row per line)
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                  format: ITEMS
              export_q1_2025:
                summary: Export Q1 2025 invoices
                value:
                  date_from: '2025-01-01'
                  date_to: '2025-03-31'
              export_paid:
                summary: Export all paid invoices
                value:
                  status: PAID
      responses:
        '200':
          description: Excel file generated successfully
          headers:
            Content-Disposition:
              description: Suggested filename for download
              schema:
                type: string
              example: attachment; filename="facturas_2025-01-15.xlsx"
            X-Total-Invoices:
              description: Number of invoices included in the export
              schema:
                type: integer
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request (must provide invoice_ids or filters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error (too many invoices, invalid filters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/recurring-invoices:
    post:
      tags:
        - RecurringInvoices
      summary: Create a recurring invoice from scratch
      description: Creates a new recurring invoice template with all template data (lines, recipient, series, payment) and recurrence configuration, without needing an existing invoice.
      operationId: createRecurringInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringInvoiceRequest'
      responses:
        '201':
          description: Recurring invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      tags:
        - RecurringInvoices
      summary: List recurring invoices
      description: Lists all recurring invoices for the authenticated user with filters and pagination.
      operationId: listRecurringInvoices
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - PAUSED
              - COMPLETED
        - name: customer_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            enum:
              - name
              - next_generation
              - status
              - created_at
            default: created_at
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Recurring invoices list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RecurringInvoiceResponse'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/recurring-invoices/{recurring_invoice_id}:
    get:
      tags:
        - RecurringInvoices
      summary: Get a recurring invoice by ID
      description: Retrieves the full details of a recurring invoice including its schedule, template lines, and next generation date.
      operationId: getRecurringInvoice
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Recurring invoice retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - RecurringInvoices
      summary: Update a recurring invoice
      description: Updates the schedule, template lines, or recipient of a recurring invoice. Only allowed while the invoice is active or paused.
      operationId: updateRecurringInvoice
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecurringInvoiceRequest'
      responses:
        '200':
          description: Recurring invoice updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - RecurringInvoices
      summary: Delete a recurring invoice
      description: Permanently deletes a recurring invoice and cancels any pending scheduled generations.
      operationId: deleteRecurringInvoice
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Recurring invoice deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/recurring-invoices/{recurring_invoice_id}/pause:
    post:
      tags:
        - RecurringInvoices
      summary: Pause a recurring invoice
      description: Pauses automatic invoice generation. The recurring invoice can be resumed later without losing its schedule configuration.
      operationId: pauseRecurringInvoice
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Recurring invoice paused successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/recurring-invoices/{recurring_invoice_id}/resume:
    post:
      tags:
        - RecurringInvoices
      summary: Resume a paused recurring invoice
      description: Resumes automatic invoice generation for a previously paused recurring invoice. The next generation date is recalculated from the current date.
      operationId: resumeRecurringInvoice
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Recurring invoice resumed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/recurring-invoices/{recurring_invoice_id}/generate:
    post:
      tags:
        - RecurringInvoices
      summary: Generate an invoice now from a recurring template
      description: Manually triggers invoice generation from a recurring template.
      operationId: generateInvoiceNow
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Invoice generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          invoice_id:
                            type: string
                            format: uuid
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/recurring-invoices/{recurring_invoice_id}/skip:
    post:
      tags:
        - RecurringInvoices
      summary: Skip the next generation
      description: Skips the next scheduled invoice generation and advances the generation date to the following period.
      operationId: skipNextGeneration
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Next generation skipped successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/recurring-invoices/{recurring_invoice_id}/preview:
    get:
      tags:
        - RecurringInvoices
      summary: Preview next invoice from recurring template
      description: |
        Returns a computed preview of what the next invoice would look like when
        generated from this recurring template. Uses current issuer, recipient,
        and series data. Nothing is persisted.
      operationId: previewRecurringInvoice
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          description: UUID of the recurring invoice template
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice preview computed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/recurring-invoices/{recurring_invoice_id}/history:
    get:
      tags:
        - RecurringInvoices
      summary: Get generation history for a recurring invoice
      description: Returns the list of invoices previously generated from this recurring template, including their status and generation dates.
      operationId: getRecurringHistory
      parameters:
        - name: recurring_invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Generation history retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/GenerationHistoryResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/invoices/{invoice_id}/create-recurring:
    post:
      tags:
        - RecurringInvoices
      summary: Create a recurring invoice from an existing invoice
      description: Creates a new recurring invoice template using the lines, recipient, and configuration from an existing invoice.
      operationId: createRecurringFromInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringFromInvoiceRequest'
      responses:
        '201':
          description: Recurring invoice created from existing invoice
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RecurringInvoiceResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers:
    get:
      tags:
        - Customers
      summary: List customers
      description: Returns a paginated list of customers with optional filters
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: active
          in: query
          description: Filter by active/inactive status
          schema:
            type: boolean
        - name: search
          in: query
          description: Global search by name, NIF or email
          schema:
            type: string
        - name: legal_name
          in: query
          description: Filter by legal name (partial search case-insensitive)
          schema:
            type: string
        - name: nif
          in: query
          description: Filter by NIF (partial search)
          schema:
            type: string
        - name: email
          in: query
          description: Filter by email (partial search)
          schema:
            type: string
        - name: phone
          in: query
          description: Filter by phone (partial search)
          schema:
            type: string
        - name: city
          in: query
          description: Filter by city
          schema:
            type: string
        - name: province
          in: query
          description: Filter by province
          schema:
            type: string
        - name: sort_by
          in: query
          description: Field to sort by (eg. legal_name, nif, created_at)
          schema:
            type: string
        - name: sort_order
          in: query
          description: Sort order direction
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        '200':
          description: Customer list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - customers
                          - pagination
                        properties:
                          customers:
                            type: array
                            items:
                              $ref: '#/components/schemas/Customer'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
              examples:
                list_success:
                  $ref: '#/components/examples/list-customers-success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Customers
      summary: Create customer
      description: Creates a new customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            examples:
              cliente_empresa:
                $ref: '#/components/examples/company-customer'
              cliente_autonomo:
                $ref: '#/components/examples/freelancer-customer'
              cliente_extranjero_ue:
                $ref: '#/components/examples/eu_customer'
              cliente_extranjero_usa:
                $ref: '#/components/examples/us_customer'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Customer'
              examples:
                created_success:
                  $ref: '#/components/examples/created-success-2'
        '400':
          $ref: '#/components/responses/InvalidJsonFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Duplicate customer (same NIF)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                conflict:
                  $ref: '#/components/examples/conflict-409'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  $ref: '#/components/examples/validation-422'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/customers/{customer_id}:
    get:
      tags:
        - Customers
      summary: Get customer by ID
      description: Retrieves complete details of a specific customer
      operationId: getCustomer
      parameters:
        - name: customer_id
          in: path
          required: true
          description: Customer ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Customer'
              examples:
                get_success:
                  $ref: '#/components/examples/get-customer-success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Customers
      summary: Update customer
      description: Updates an existing customer
      operationId: updateCustomer
      parameters:
        - name: customer_id
          in: path
          required: true
          description: Customer ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/InvalidJsonFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Customers
      summary: Deactivate customer
      description: |
        Deactivates (marks as deleted) a customer.

        **Soft delete:** The customer is not physically deleted, only marked as inactive.

        **Restriction:** Cannot deactivate a customer with associated invoices.
      operationId: deactivateCustomer
      parameters:
        - name: customer_id
          in: path
          required: true
          description: Customer ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Customer deactivated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - message
                        properties:
                          message:
                            type: string
                            example: Customer deactivated successfully
        '400':
          description: Cannot deactivate (has associated invoices)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/customers/bulk:
    post:
      tags:
        - Customer Import
      summary: Create or validate multiple customers
      description: |
        Creates multiple customers in a single operation or validates data without persisting.

        **Validation flow:**
        1. `dry_run=true`: Full validation only (NIFs, duplicates, format) without persistence
        2. `dry_run=false`: Validation + actual creation

        **Validations performed:**
        - Individual validation of each customer (same rules as single customer creation)
        - Detection of duplicate NIFs within the batch
        - Detection of duplicate NIFs against existing database
        - Parallel NIF validation against AEAT registry (VeriFactu)
        - Field format verification (email, phone, etc.)

        **Result statuses:**
        - `VALID`: Customer valid, ready to create
        - `WARNING`: Customer valid but with warnings (e.g., missing email)
        - `ERROR`: Customer invalid, cannot process
        - `DUPLICATE`: Duplicate NIF (in batch or existing DB)
        - `NIF_INVALID`: NIF not valid in AEAT registry

        **Atomicity:**
        - `dry_run=true`: Validation only, no persistence
        - `dry_run=false`: If any customer fails, ALL customers are rejected (full atomicity)
      operationId: createCustomersBulk
      parameters:
        - name: dry_run
          in: query
          description: |
            Operation mode:
            - `true`: Validation only without persistence (recommended for frontend preview)
            - `false`: Validation + actual creation (atomic operation)
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customers
              properties:
                customers:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '200':
          description: |
            Validation completed successfully (dry_run=true).
            Returns validation results without persisting data using unified format.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CustomerValidationUnifiedResult'
        '201':
          description: |
            Customers created successfully (dry_run=false).
            Atomic operation: all valid customers were created successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          customers:
                            type: array
                            items:
                              $ref: '#/components/schemas/Customer'
                          total_created:
                            type: integer
                            example: 5
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error in one or more customers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: BULK_VALIDATION_ERROR
                          message:
                            type: string
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                index:
                                  type: integer
                                  description: Index of the customer with error (0-based)
                                field:
                                  type: string
                                message:
                                  type: string
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Customer Import
      summary: Delete multiple customers
      description: |
        Deactivates (marks as deleted) multiple customers in a single operation.

        **Soft delete:** Customers are not physically deleted, only marked as inactive.

        **Partial behavior:** Valid customers will be deactivated, failures are reported in the errors array.
      operationId: deactivateCustomersBulk
      parameters:
        - name: ids
          in: query
          required: true
          description: Comma-separated customer IDs
          schema:
            type: string
            example: 550e8400-e29b-41d4-a716-446655440000,550e8400-e29b-41d4-a716-446655440001
      responses:
        '200':
          description: Operation completed (may have partial errors)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - total
                          - successful
                          - failed
                          - deactivated_ids
                        properties:
                          total:
                            type: integer
                            description: Total customers processed
                            example: 10
                          successful:
                            type: integer
                            description: Number of successful deactivations
                            example: 8
                          failed:
                            type: integer
                            description: Number of failed deactivations
                            example: 2
                          deactivated_ids:
                            type: array
                            description: IDs of successfully deactivated customers
                            items:
                              $ref: '#/components/schemas/UUID'
                          errors:
                            type: array
                            description: Details of customers that could not be deactivated
                            items:
                              type: object
                              required:
                                - customer_id
                                - error
                              properties:
                                customer_id:
                                  $ref: '#/components/schemas/UUID'
                                error:
                                  type: object
                                  required:
                                    - code
                                    - message
                                  properties:
                                    code:
                                      type: string
                                      example: CLIENT_HAS_INVOICES
                                    message:
                                      type: string
                                      example: Cannot deactivate customer because it has associated invoices
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/customers/import-csv-preview:
    post:
      tags:
        - Customer Import
      summary: Import customers from CSV with structured preview
      description: |
        Imports multiple customers from a CSV file with full preview of all records.

        **Key features**:
        - **Structured preview**: Returns all parsed records (valid and with errors)
        - **Parallel validation**: NIFs validated concurrently against VeriFactu
        - **Granular feedback**: Customer-specific errors and warnings
        - **Editable data**: Structured JSON for editable table in frontend

        **Recommended flow**:
        1. **Initial upload**: Call with `dry_run=true` to get preview
        2. **Display table**: Frontend shows parsed data with errors/warnings
        3. **Inline editing**: User corrects data directly in the table
        4. **Final import**: Send corrected data with `dry_run=false`

        **Format**: Must follow CSV template format (downloadable from `/customers/template-csv`).

        **Security limits**:
        - Max size: 5MB
        - Max 1,000 records per file
        - Rate limiting: 3 imports per hour

        **Validation**:
        - Required headers per template
        - Full validation of each row with business rules
        - Parallel NIF validation against AEAT registry (VeriFactu)
        - Duplicate detection in CSV and database

        **Validation statuses**:
        - `VALID`: Customer valid, ready to import
        - `WARNING`: Customer valid but with warnings (eg: missing email)
        - `ERROR`: Customer invalid, cannot process
        - `DUPLICATE`: Duplicate customer (in CSV or DB)
        - `NIF_INVALID`: NIF invalid in AEAT registry
      operationId: importCustomersCsvPreview
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file with customers to import
                dry_run:
                  type: boolean
                  default: true
                  description: |
                    If true (recommended initially): preview only without persistence.
                    If false: preview + persistence of valid customers.
      responses:
        '200':
          description: CSV processing completed with structured preview using unified format
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CustomerValidationUnifiedResult'
        '400':
          description: |
            Invalid file for one of the following reasons:
            - Format is not valid CSV
            - Encoding is not UTF-8
            - Required headers missing
            - Size exceeds 5MB
            - More than 1,000 records
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          details:
                            type: object
                            properties:
                              file_size_mb:
                                type: number
                                description: File size in MB
                              record_count:
                                type: integer
                                description: Number of records found
                              missing_headers:
                                type: array
                                items:
                                  type: string
                                description: Required headers that are missing
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: File too large (>5MB)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: |
            Structural CSV validation error (corrupted format, invalid encoding)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded (maximum 3 imports per hour)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/customers/import-holded-contacts:
    post:
      tags:
        - Customer Import
      summary: Import contacts from Holded Excel
      description: |
        Imports multiple customers from an Excel file exported from Holded.

        **Key features**:
        - **Specific parsing**: Reads exact structure of Holded contacts Excel (29 columns)
        - **Automatic mapping**: Converts Holded contacts to Customer entities automatically
        - **Full validation**: Validates NIFs, addresses and required data
        - **Preview mode**: Allows viewing parsed data before importing

        **Recommended flow**:
        1. **Initial upload**: Call with `preview=true` to get preview
        2. **Display data**: Frontend shows parsed Holded contacts
        3. **Final import**: Call with `preview=false` to import definitively

        **Expected Excel structure** (contacts exported from Holded):
        - Sheet: "Holded"
        - Rows to skip: 2 (header + empty)
        - Headers in row 2: Created, Name, ID, Email, Phone, Mobile, etc. (29 columns)
        - Footer: "Report created automatically with Holded..."

        **Security limits**:
        - Max size: 10MB
        - Max 5,000 records per file
        - Rate limiting: 5 imports per hour

        **Automatic Holded → Customer mapping**:
        - Name → legal_name
        - ID → identifier (NIF/CIF)
        - Email → email
        - Phone/Mobile → phone (prioritizes mobile)
        - Full address → address
        - Tags → notes
      operationId: importHoldedContacts
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Excel file (.xlsx) of contacts exported from Holded
                preview:
                  type: boolean
                  default: true
                  description: |
                    If true: parsing and mapping only without importing to DB.
                    If false: parsing + mapping + actual import.
      responses:
        '200':
          description: |
            Holded Excel processing completed with unified format.
            Returns parsed, validated and mapped customers using the same format as CSV import.
          content:
            application/json:
              schema:
                allOf:
[...]
