openapi: 3.0.3
info:
  title: BeeL. Public API
  description: |
    Public invoicing API for self-employed professionals in Spain with VeriFactu regulatory compliance.

    Authenticate using API Keys (`Authorization: Bearer <key>`). Keys are scoped and environment-aware:
    `beel_sk_live_*` targets production, `beel_sk_test_*` targets sandbox (no quota consumed, VeriFactu test mode).

    POST endpoints accept an `Idempotency-Key` header (any unique client-generated string) to safely retry requests without creating duplicates.

    Query parameters are strict, across every endpoint. A name an operation does not declare is currently
    **ignored**: the request still returns `200`, but the filter, ordering or flag you sent was never applied —
    the most common case being `per_page`, which is spelled `limit`. From **2026-09-03** an unrecognised query
    parameter is rejected with `400` naming it, instead of being ignored. Until then, any response that dropped
    a parameter carries a `BeeL-Warning` header naming it, so you can find affected requests before the change.

    A value outside a parameter's vocabulary — an unknown enum value, a malformed UUID — is likewise rejected
    with `400`. The fault is in the request target, not in the request content, which is what `422` is defined
    over; `422` is reserved for a request body that is syntactically valid but semantically wrong.

    <!-- generated:rate-limits — cloudflare/bin/render-rate-limit-prose.js -->
    **Rate limiting.** Limits are enforced at the network edge, on a fixed 60-second window, counted
    per API key. Three tiers apply and a single request may count against more than one:

    | Tier | Limit | Applies to |
    | --- | --- | --- |
    | Global | 2000 req / 60 s | Every request to the API |
    | Standard | 300 req / 60 s | `/v1/companies/{company_id}/customers`, `/v1/companies/{company_id}/invoices`, `/v1/customers`, `/v1/invoices`, `/v1/me`, `POST /v1/nif/validate` — each including its sub-paths |
    | Strict | 5 req / 60 s | `/v1/companies/{company_id}/logo`, `POST /v1/accounts/{account_id}/companies/{company_id}/representation/generate`, `POST /v1/accounts/{account_id}/companies/{company_id}/representation/submit`, `POST /v1/accounts/{account_id}/invitations`, `POST /v1/companies/{company_id}/invoices/{invoice_id}/send`, `POST /v1/companies/{company_id}/representation`, `POST /v1/invoices/bulk/send` — each including its sub-paths |

    Exceeding a limit returns `429` with the error code `RATE_LIMIT_EXCEEDED` and the `Retry-After`,
    `RateLimit-Limit`, `RateLimit-Remaining` and `RateLimit-Reset` headers. Successful responses carry
    no `RateLimit-*` header, so a client cannot track its remaining budget ahead of time: retry on
    `429`, honouring `Retry-After`.
    <!-- /generated:rate-limits -->
  version: 1.7.1
  contact:
    name: BeeL. Technical Team
    email: it@beel.es
    url: https://beel.es
  license:
    name: Proprietary
    url: https://beel.es/license
servers:
  - url: https://app.beel.es/api
    description: Production server
security:
  - ApiKeyAuth: []
  - OAuth2: []
tags:
  - name: CompanyInvoices
    description: 'The invoices of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/invoices`. The NIF in the path is the only source of context: the account that owns it is derived from it. It is the canonical form of the operations that `Invoices` still exposes under the flat `/v1/invoices`.'
  - name: CompanyInvoiceLifecycle
    description: State transitions and scheduling of a NIF's invoices (issue, void, corrective, status, schedule), under `/v1/companies/{company_id}/invoices/{invoice_id}/...`. Canonical form of `InvoiceLifecycle`.
  - name: CompanyInvoiceDelivery
    description: Delivery, bulk operations and exports of a NIF's invoices (send, deliveries, batches, exports, PDF archive), under `/v1/companies/{company_id}/invoices/...`. Canonical form of `InvoiceDelivery`.
  - name: Invoices
    description: Invoice CRUD operations
  - name: InvoiceLifecycle
    description: Invoice state transitions and scheduling
  - name: InvoiceDelivery
    description: Invoice delivery, bulk operations and exports
  - name: CompanyProforma
    description: Converting a NIF's proforma into a fiscal invoice (`POST /v1/companies/{company_id}/invoices/{invoice_id}/convert-to-invoice`). The rest of the proforma workflow happens through the regular `CompanyInvoices` operations with `type=PROFORMA` — see the `Proforma` tag for the full model.
  - name: Proforma
    description: |
      A proforma is a non-fiscal commercial document, a formal quote you send a customer
      before invoicing. It lives on the same `/invoices` resource as any other document, so
      you work with it through the invoice endpoints using `type=PROFORMA`. There is no
      separate proforma resource.

      A proforma never enters VeriFactu, so it carries no QR and is never submitted to the
      AEAT, and it consumes no invoice quota. It is numbered from a dedicated non-fiscal
      series, so its number always looks like `PRO-2026-0001`.

      A proforma has a single working state, `ACTIVE`. It does not go through the fiscal
      draft and issue cycle:

      * **Create** it with `type=PROFORMA` and it is born `ACTIVE`, already numbered. It is
        editable and deletable, and there is no separate issue step (`issue_directly` is
        ignored).
      * **Convert** it once the customer accepts. It becomes `CONVERTED` and a new `STANDARD`
        invoice is created in `DRAFT`, linked back through `source_proforma_id`.
      * **Void** it if the offer is rejected or withdrawn (`POST /v1/invoices/{invoice_id}/void`).
        It becomes `VOIDED` with no corrective invoice and nothing sent to the AEAT, and it
        stays on record.
      * **`EXPIRED`** is a derived state for an `ACTIVE` proforma whose `valid_until` has
        passed. It is never stored, so the proforma stays `ACTIVE` underneath and remains
        convertible.

      Proformas appear in the normal invoice list. Use `type=PROFORMA` to see only proformas,
      or `fiscal_only=true` to list just your fiscal invoices.
  - name: Customers
    description: Customer management
  - name: Customer Import
    description: Bulk creation, CSV import, and Holded import operations
  - name: CompanyCustomers
    description: 'The customers of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/customers`. The NIF in the path is the only source of context: the account that owns it is derived from it. It is the canonical form of the operations that `Customers` and `Customer Import` still expose under the flat `/v1/customers`.'
  - name: CompanyCustomerImports
    description: Importing customers into a NIF (company), addressed by `/v1/companies/{company_id}/customers/imports`. The origin of the file travels in the body as `source`, so adding an origin never adds a route, and previewing is a separate operation with no effects instead of a boolean flag.
  - name: AccountImports
    description: 'Onboarding managed accounts in bulk from a file, addressed by `/v1/accounts/imports`. The file is declarative and the import is re-runnable: each pass applies only what is missing, and previewing is a separate operation with no effects instead of a boolean flag.'
  - name: Customer Templates
    description: Templates and sample files for customer imports
  - name: Templates
    description: Downloadable file templates. They are fixed files, the same for every credential, and belong to no account and no NIF.
  - name: Products
    description: Product and service catalog management
  - name: CompanyProducts
    description: 'The product/service catalog of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/products`. The NIF in the path is the only source of context: the account that owns it is derived from it. It is the canonical form of the operations that `Products` still exposes under `/v1/products`, and searching is `?q=` on the collection instead of a path of its own.'
  - name: Members
    description: 'Account member management (multi-NIF). Members and their company grants are **shared between Test and Live**: a collaborator is the same person, with the same role and the same grants, in both environments — switching environment changes which data you see, not who may reach it. Reading them works with either API key; changing them requires a live API key or the dashboard (`403 LIVE_CREDENTIAL_REQUIRED` otherwise), because the change lands on the real account.'
  - name: Invitations
    description: 'Member invitations — invite people to the account and revoke pending invites (multi-NIF). Like members, invitations are **shared between Test and Live**: accepting one grants real access, so creating and revoking them requires a live API key or the dashboard (`403 LIVE_CREDENTIAL_REQUIRED` otherwise). Listing and retrieving work with either key.'
  - name: Accounts
    description: 'Account provisioning for partners managing multiple accounts and NIFs. The whole onboarding flow — provisioning, claim tokens and usage — works with either API key: the account is born inert (no NIF switched on, no keys, no owner), which is exactly what you are meant to rehearse in Test. Changing a managed account''s access level and ending its management require a live API key or the dashboard (`403 LIVE_CREDENTIAL_REQUIRED` otherwise): both act on an account that may already be invoicing, and ending management cannot be undone.'
  - name: Provisioning
    description: 'Lifecycle view for accounts you provisioned: track their activation state and manage the access level you hold over them.'
  - name: ConfigurationTax
    description: Tax configuration and tax type catalogs
  - name: TaxTypes
    description: The tax regimes, percentages, withholdings and exemption reasons Spanish law allows. The same for every credential, and readable before the first NIF exists.
  - name: InvoiceSeries
    description: Invoice series management
  - name: ConfigurationVeriFactu
    description: VeriFactu compliance configuration
  - name: ConfigurationPreferences
    description: User language preferences
  - name: InvoiceCustomization
    description: The PDF templates a NIF can be rendered with, each one with a readable, translated name. The same for every account.
  - name: NIF
    description: Tax ID validation against AEAT tax registry
  - name: Company
    description: 'The NIF (company) as a resource of its own, addressed by `/v1/companies/{company_id}`. The NIF in the path is the only source of context: the account that owns it is derived from it.'
  - name: CompanyBranding
    description: 'The invoice branding of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/logo` and `/v1/companies/{company_id}/invoice-customization`. The NIF in the path is the only source of context: the account that owns it is derived from it.'
  - name: CompanyVeriFactuConfiguration
    description: The VeriFactu configuration of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/verifactu-configuration`. The NIF in the path is the only source of context. It is the canonical form of what `ConfigurationVeriFactu` still exposes under `/v1/configuration/verifactu`.
  - name: CompanyTaxConfiguration
    description: The tax configuration of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/tax-configuration`. The NIF in the path is the only source of context. It is the canonical form of what `ConfigurationTax` still exposes under `/v1/configuration/taxes`.
  - name: CompanySeries
    description: The invoice series of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/series`. The NIF in the path is the only source of context. It is the canonical form of what `InvoiceSeries` still exposes under `/v1/configuration/series`.
  - name: CompanyRepresentation
    description: 'The AEAT fiscal representation of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/representation`. The NIF in the path is the only source of context: the account that owns it is derived from it. It is the canonical form of the operations that `PublicCompanyRepresentations` still exposes under `/v1/accounts/{account_id}/companies/{company_id}/representation/…`, reshaped as one REST resource — `GET` reads the state, `POST` creates the document, `DELETE` cancels it — instead of five verbs in the URL.'
  - name: CompanyActivations
    description: 'Switching a NIF (company) on or off in Test or Live, as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/activations`. The NIF in the path is the only source of context: the account that owns it is derived from it.'
  - name: CompanyPaymentConnections
    description: 'The payment provider connections of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/payment-connections`. The NIF in the path is the only source of context: the account that owns it is derived from it. Opening a connection is the sibling sub-resource `…/payment-connections/authorizations`, because it returns an authorization URL and not the connection the collection lists.'
  - name: CompanyPaymentEvents
    description: 'The payment events of a NIF (company) connection, addressed by `/v1/companies/{company_id}/payment-connections/{provider}/events`. The NIF in the path is the only source of context: the account that owns it is derived from it. Events hang from the connection the `{provider}` segment picks, so only the events of that NIF''s connection are reachable.'
  - name: AccountCompanies
    description: Listing and creating the NIFs of an account, under `/v1/accounts/{account_id}/companies`. Operating on one NIF is the `Company` resource.
  - name: PublicCompanyRepresentations
    description: |
      **Deprecated.** VeriFactu representation flow for digital signature and AEAT registration,
      in its account-nested form. Use `CompanyRepresentation`
      (`/v1/companies/{company_id}/representation`), which behaves identically; these routes keep
      working until the date announced in their `Sunset` response header.

      **Complete SaaS integration flow:**
      1. `POST /v1/accounts/{account_id}/companies` — Create company/NIF
      2. `POST /v1/companies/{company_id}/representation` — Generate unsigned PDF
      3. `GET /v1/companies/{company_id}/representation/document` — Download PDF for signing
      4. `POST /v1/companies/{company_id}/representation/submit` — Upload signed PDF
      5. `GET /v1/companies/{company_id}/representation` — Check VeriFactu status
  - name: RecurringInvoices
    description: |
      Recurring invoice template management and automated invoice generation.

      Create templates that automatically generate invoices on a schedule.
      Supports monthly recurrence, pause/resume, skip, manual generation,
      and invoice preview.
  - name: CompanyRecurringInvoices
    description: 'The recurring invoice templates of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/recurring-invoices`. The NIF in the path is the only source of context: the account that owns it is derived from it. It is the canonical form of the operations that `RecurringInvoices` still exposes under `/v1/recurring-invoices`.'
  - name: AccountWebhooks
    description: Outbound webhook subscriptions as a sub-resource of the account itself, addressed by `/v1/accounts/{account_id}/webhooks`. The account in the path is the only source of context — the credential does not decide it, and the `BeeL-Active-Company` header plays no part. It is the canonical form of the operations that `Webhooks` still exposes under `/v1/webhooks`.
  - name: Webhooks
    description: |
      Outbound webhook subscriptions for real-time event notifications.

      Register HTTPS endpoints to receive event payloads when key actions occur
      (e.g. VeriFactu submission accepted/rejected by AEAT).

      All deliveries are signed with HMAC-SHA256 (`BeeL-Signature` header).
      Failed deliveries are retried up to 5 times with exponential backoff.
  - name: AccountRequestLogs
    description: Canonical form of the request logs, addressed by `/v1/accounts/{account_id}/request-logs`. The account in the path authorizes the call; the logs returned are always those of the credential you authenticate with, in its environment, never the whole account's traffic. It replaces the operations that `RequestLogs` still exposes under `/v1/developers/request-logs`.
  - name: RequestLogs
    description: |
      Read-only access to the API request logs generated by your own API keys
      (live + test). Inspect method, path, status, timing, and full request/response
      detail of past calls. Cursor-paginated; sourced from observability storage.
  - name: Emails
    description: |
      History of emails the system has sent on your behalf (invoices,
      verification, onboarding, etc.). Read-only.
  - name: AccountEmails
    description: The sent-email history of an account, addressed by `/v1/accounts/{account_id}/emails` and `/v1/accounts/{account_id}/email-indicators`. The account in the path is the only source of context, instead of being derived from the credential. It is the canonical form of the operations that `Emails` still exposes under `/v1/emails`.
  - name: Identity
    description: 'Who am I (`GET /v1/me`): the authenticated principal — credential type, environment it operates on and the permissions it holds — so a client can adapt what it offers instead of discovering the limits through a `403`.'
  - name: Me
    description: Preferences of the authenticated principal (`PATCH /v1/me`), such as the language BeeL uses to talk to the account.
  - name: CompanyFiscalSummary
    description: 'The fiscal summary of a NIF (company) as a sub-resource of the company itself, addressed by `/v1/companies/{company_id}/fiscal-summary`. The NIF in the path is the only source of context: the account that owns it is derived from it.'
paths:
  /v1/me/identity:
    get:
      tags:
        - Identity
      summary: Get my identity (whoami)
      description: |
        Lightweight identity of the authenticated principal. Requires **no scope**:
        any valid API key, OAuth2 token or browser session resolves.

        Two intended uses:
        * **Integrators**: whoami / auth health-check. A `200` confirms the credential
          is valid and tells you which account it belongs to; a `401` means it is not.
        * **Web session**: cheap avatar/name lookup without fetching the full profile.

        `name` resolves as `trade_name ?? legal_name` of the active fiscal profile and
        is `null` until onboarding creates one. Responses are never cached
        (`Cache-Control: no-store`).

        `credential` describes the credential the call was authenticated with — its
        type, the environment it operates on and the permissions it holds — so a client
        can adapt what it offers instead of discovering the limits through a `403`.
      operationId: getMyIdentity
      security:
        - ApiKeyAuth: []
        - OAuth2: []
        - SessionCookie: []
      responses:
        '200':
          description: Identity of the authenticated principal
          headers:
            Cache-Control:
              description: Always `no-store` (personal data, cross-origin consumers)
              schema:
                type: string
                example: no-store
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/MyIdentity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'The credential is genuine, but the account''s plan does not include API access (`error.code` = `FEATURE_NOT_AVAILABLE`, `error.details.feature_code` = `api_access`). Whoami requires no scope, so for an API key or OAuth2 token this is the only refusal besides `401`: without `api_access` the key reaches no public endpoint at all, and saying so here — rather than a `401` that reads as "wrong key" — tells a health-check the credential is fine and the plan is not. Browser sessions never get this.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: FEATURE_NOT_AVAILABLE
                  message: Your plan does not include api_access
                  details:
                    feature_code: api_access
                    current_plan: FREE
                meta:
                  timestamp: '2025-01-15T10:30:00Z'
                  request_id: 4bf92f3577b34da6a3ce929d0e0e4736
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/me:
    patch:
      tags:
        - Me
      summary: Update my preferences
      description: |
        Updates the preferences of the authenticated person. Today the only
        mutable preference is the interface language.

        The language applies to the interface, to template names and colours in
        invoice customisation, and to the emails the person receives. It belongs
        to the person, not to a fiscal profile: invoice and email languages are
        separate settings of each company.

        **Supported languages:**
        - `es` - Spanish (default)
        - `en` - English
        - `ca` - Catalan

        Replaces `PUT /v1/configuration/language`, which stays available until
        its sunset date and behaves identically.
      operationId: updateMe
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - configuration:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeRequest'
            example:
              language: ca
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/MyPreferences'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices:
    get:
      tags:
        - Invoices
      summary: List invoices
      description: |
        **Deprecated.** Use `GET /v1/companies/{company_id}/invoices`, which returns the same list with the
        same filters. The only difference is the legacy alias `external_reference`, which is not
        carried over: use `external_ref`.
        This route keeps working until the date announced in its `Sunset` response header.

        Returns a paginated list of invoices with optional filters
      operationId: listInvoices
      x-successor:
        method: GET
        path: /v1/companies/{company_id}/invoices
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:read
      parameters:
        - $ref: '#/components/parameters/ActiveCompanyHeader'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          description: Global search across invoice number, recipient name, recipient NIF, and series code (partial, case-insensitive)
          schema:
            type: string
        - name: status
          in: query
          description: |
            Filter by invoice status. Accepts a comma-separated list to match any of several
            statuses, for example `status=DRAFT,ISSUED`. A single value is also valid.
          schema:
            type: array
            minItems: 1
            items:
              $ref: '#/components/schemas/InvoiceStatus'
          style: form
          explode: false
        - name: type
          in: query
          description: Filter by invoice type
          schema:
            $ref: '#/components/schemas/InvoiceType'
        - name: fiscal_only
          in: query
          description: |
            When `true`, returns only fiscal documents (STANDARD, CORRECTIVE, SIMPLIFIED),
            excluding proformas and any other non-fiscal document. Defaults to `false`
            (the list returns every document type). Ignored when an explicit `type` is given.
          schema:
            type: boolean
            default: false
        - name: customer_id
          in: query
          description: Filter by customer UUID
          schema:
            $ref: '#/components/schemas/UUID'
        - name: date_from
          in: query
          description: Issue date from (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          description: Issue date to (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: invoice_number
          in: query
          description: Search by invoice number (e.g., 2025/0001)
          schema:
            type: string
        - name: recipient_name
          in: query
          description: Filter by recipient's fiscal name (partial, case-insensitive search)
          schema:
            type: string
        - name: recipient_nif
          in: query
          description: Filter by recipient's NIF (partial search)
          schema:
            type: string
        - name: series_code
          in: query
          description: Filter by series code
          schema:
            type: string
        - name: external_ref
          in: query
          description: |
            Filter by exact external reference (client-supplied order/cart/contract id).

            This parameter was previously named `external_reference`. The old name is still accepted
            for backwards compatibility (see `external_reference` below) and will be withdrawn in a
            future major version — send `external_ref`.
          schema:
            type: string
        - name: external_reference
          in: query
          deprecated: true
          description: |
            **Deprecated** — former name of `external_ref`, still honoured so existing integrations
            keep working. Ignored when `external_ref` is also present. Use `external_ref`.
          schema:
            type: string
        - name: taxable_base_min
          in: query
          description: Minimum taxable base
          schema:
            type: number
            format: double
        - name: taxable_base_max
          in: query
          description: Maximum taxable base
          schema:
            type: number
            format: double
        - name: total_min
          in: query
          description: Minimum invoice total
          schema:
            type: number
            format: double
        - name: total_max
          in: query
          description: Maximum invoice total
          schema:
            type: number
            format: double
        - name: verifactu_status
          in: query
          description: |
            Filter by the VeriFactu submission status of the invoice, using the very same
            vocabulary that `verifactu.submission_status` publishes on each invoice.
            `NOT_SUBMITTED` selects issued invoices with VeriFactu enabled whose
            registration never happened (no live record).

            Only invoices with VeriFactu enabled can match. To select the ones outside the
            axis (VeriFactu disabled), use `verifactu_enabled=false` instead.
          schema:
            $ref: '#/components/schemas/VeriFactuSubmissionStatus'
        - name: verifactu_enabled
          in: query
          description: |
            Filter by whether VeriFactu is enabled for the invoice — the same flag published as
            `verifactu.enabled`. `false` returns the invoices that never reach AEAT.
          schema:
            type: boolean
        - name: metadata
          in: query
          description: |
            Filter by metadata key/value pairs (exact match, AND between keys).
            Repeat the bracket-style param to filter on multiple keys.
            Max 50 pairs per request. Keys must match `^[A-Za-z0-9_\-.]{1,64}$`.
            Example: `?metadata[external_order_id]=ORD-42&metadata[tenant]=acme`
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties:
              type: string
            maxProperties: 50
        - name: sort_by
          in: query
          description: Field to sort by (e.g., issue_date, invoice_number, invoice_total)
          schema:
            type: string
        - name: sort_order
          in: query
          description: Sort direction
          schema:
            allOf:
              - $ref: '#/components/schemas/SortOrder'
            default: desc
      responses:
        '200':
          description: Invoice list retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - invoices
                          - pagination
                        properties:
                          invoices:
                            type: array
                            items:
                              $ref: '#/components/schemas/Invoice'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
              examples:
                list_success:
                  $ref: '#/components/examples/list-invoices-success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Invoices
      summary: Create invoice
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Creates a new invoice.

        **Proformas (`type: PROFORMA`):** a proforma is a non-fiscal document. It is created
        directly in the single working state `ACTIVE`, numbered `PRO-...` from the non-fiscal
        series, with no issuance step. `issue_directly` is ignored for proformas, since they
        never reach the fiscal `ISSUED` state. To turn a proforma into a real invoice, use the
        dedicated `convert-to-invoice` endpoint.

        **VeriFactu in the response:** the `verifactu` block states what was applied, so you never
        have to infer it. `verifactu.enabled` says whether this invoice goes to AEAT at all. When
        the invoice is issued in the same call (`issue_directly: true`), `verifactu.submission_status`
        is `PENDING`: submission is asynchronous, so a 2xx means *accepted for submission*, never
        *registered with AEAT* — poll the invoice to see it reach `ACCEPTED` or `REJECTED`. A draft
        has no submission yet, so it reports `enabled` with no `submission_status`, and a proforma
        carries no `verifactu` block at all.

        **Idempotency:** Supports `Idempotency-Key` header to prevent duplicates.
      operationId: createInvoice
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/ActiveCompanyHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: wait_for_pdf
          in: query
          required: false
          description: |
            Same flag as `options.wait_for_pdf`, accepted here too so both routes to a PDF take it
            in the same place — `POST /v1/invoices/{invoice_id}/issue` declares it as a query param
            and this one used to accept it only inside the body.

            Only applies when the invoice is issued in this call (`options.issue_directly: true`).
            If `true`, waits for PDF generation and returns the URL in the response (~1-3s). It is
            enough to ask for it in one of the two places.
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
            examples:
              basic_invoice:
                $ref: '#/components/examples/create-basic'
              adhoc_invoice:
                $ref: '#/components/examples/create-with-adhoc-customer'
              issue_directly:
                $ref: '#/components/examples/create-issue-directly'
              custom_email:
                $ref: '#/components/examples/create-with-custom-email'
              simplified_with_nif:
                $ref: '#/components/examples/simplified-with-nif'
              simplified_under_3000:
                $ref: '#/components/examples/under-3000'
              standard_spanish_b2b:
                $ref: '#/components/examples/spanish-b2b'
              standard_multiple_vat:
                $ref: '#/components/examples/multiple-vat-rates'
              standard_irpf:
                $ref: '#/components/examples/irpf-withholding'
              standard_recargo:
                $ref: '#/components/examples/recargo-equivalencia'
              standard_eu_goods_e5:
                $ref: '#/components/examples/b2b-intra-eu-goods-e5'
              standard_eu_services_n2:
                $ref: '#/components/examples/b2b-intra-eu-services-n2'
              standard_b2c_oss_over:
                $ref: '#/components/examples/b2c-oss-over-threshold'
              standard_b2c_oss_under:
                $ref: '#/components/examples/b2c-under-oss-threshold'
              standard_export_e2:
                $ref: '#/components/examples/export-non-eu-goods-e2'
              standard_services_noeu:
                $ref: '#/components/examples/services-non-eu-n2'
              standard_exempt_art20:
                $ref: '#/components/examples/exempt-art-20-medical'
              standard_igic:
                $ref: '#/components/examples/igic-canary-islands'
              standard_not_subject:
                $ref: '#/components/examples/not-subject-art-7-9'
              standard_isp_reverse:
                $ref: '#/components/examples/isp-reverse-charge-s2'
              standard_rebu:
                $ref: '#/components/examples/rebu-used-goods'
      responses:
        '201':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
              examples:
                created_success:
                  $ref: '#/components/examples/created-success'
        '400':
          $ref: '#/components/responses/InvalidJsonFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: |
            Conflict. One of:
            - Idempotency key already processed, or duplicate invoice number.
            - `INVOICE_DUPLICATE_EXTERNAL_REFERENCE`: a live invoice with the same
              `external_ref` already exists. Fetch it via
              `GET /v1/invoices?external_ref=...`. Deleting it lets you recreate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                conflict:
                  $ref: '#/components/examples/conflict-409'
        '422':
          description: 'Validation error, or (when creating and issuing directly) the company/NIF is not ready to issue in this environment. In the latter case `error.code` is `EMISSION_NOT_READY` and `error.details.blockers[]` lists the reasons (`COMPANY_NOT_ACTIVATED`, `ENV_MISMATCH`, `NIF_NOT_REGISTERED`, `NIF_REPRESENTATION_REQUIRED`). Sandbox applies the same gate as production, except `NIF_REPRESENTATION_REQUIRED`: the signed representation is only required when the operation reaches the real tax authority.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  $ref: '#/components/examples/validation-422'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}:
    get:
      tags:
        - Invoices
      summary: Get invoice by ID
      description: |
        **Deprecated.** Use `GET /v1/companies/{company_id}/invoices/{invoice_id}`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Retrieves complete details of a specific invoice
      operationId: getInvoice
      x-successor:
        method: GET
        path: /v1/companies/{company_id}/invoices/{invoice_id}
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:read
      parameters:
        - $ref: '#/components/parameters/ActiveCompanyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
              examples:
                get_success:
                  $ref: '#/components/examples/get-invoice-success'
                stripe_generated:
                  $ref: '#/components/examples/generated-invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Invoices
      summary: Update invoice
      description: |
        **Deprecated.** Use `PATCH /v1/companies/{company_id}/invoices/{invoice_id}`, the single update verb
        of the canonical form. Only the verb changes: this route already updated just the fields present
        in the body and left every other one untouched, and the successor behaves exactly the same. There
        is no need to send the invoice complete.
        This route keeps working until the date announced in its `Sunset` response header.

        Updates an existing draft invoice.

        **Restriction:** Only invoices in `DRAFT` status can be modified.
      operationId: updateInvoice
      x-successor:
        method: PATCH
        path: /v1/companies/{company_id}/invoices/{invoice_id}
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/ActiveCompanyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
            examples:
              update_invoice:
                $ref: '#/components/examples/update-invoice'
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/InvalidJsonFormat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Invoices
      summary: Delete invoice
      description: |
        **Deprecated.** Use `DELETE /v1/companies/{company_id}/invoices/{invoice_id}`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Deletes (marks as deleted) an invoice.

        **Soft delete:** The invoice is not physically deleted, only marked as deleted.

        **Restriction:** Only invoices in `DRAFT` status can be deleted.

        **Proforma un-conversion:** if the draft was created by converting a proforma
        (`source_proforma_id` present), deleting it reverts that proforma from
        `CONVERTED` back to `ACTIVE` in the same transaction — it becomes editable
        and convertible again (a new conversion creates a new invoice). Voiding or
        rectifying an issued invoice does NOT revert its proforma: only deletion does.
      operationId: deleteInvoice
      x-successor:
        method: DELETE
        path: /v1/companies/{company_id}/invoices/{invoice_id}
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/ActiveCompanyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: Invoice deleted successfully
        '400':
          description: Cannot delete (invoice already sent/paid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/pdf:
    post:
      tags:
        - InvoiceDelivery
      summary: Download multiple invoice PDFs as ZIP
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/pdf-archive`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Downloads multiple invoice PDFs as a single ZIP file.

        **Limits:**
        - Maximum 20 invoices per request
        - Maximum 50MB total ZIP size

        **Partial success:** If some PDFs are not available (not generated, not found),
        the response will include a `failures` array with details. The ZIP will still
        be generated with the available PDFs.

        **Error handling:**
        - If NO PDFs are available, returns 400 Bad Request
        - If some PDFs are unavailable, returns 200 with partial ZIP + failures list
      operationId: downloadInvoicesPdfBulk
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/pdf-archive
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
              properties:
                invoice_ids:
                  type: array
                  description: List of invoice IDs to download
                  minItems: 1
                  maxItems: 500
                  items:
                    $ref: '#/components/schemas/UUID'
            examples:
              download_5_invoices:
                summary: Download 5 invoices
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                    - 550e8400-e29b-41d4-a716-446655440003
                    - 550e8400-e29b-41d4-a716-446655440004
                    - 550e8400-e29b-41d4-a716-446655440005
      responses:
        '200':
          description: ZIP file with invoice PDFs
          headers:
            X-Bulk-Total:
              description: Total number of requested invoices
              schema:
                type: integer
            X-Bulk-Successful:
              description: Number of PDFs included in ZIP
              schema:
                type: integer
            X-Bulk-Failed:
              description: Number of PDFs that could not be included
              schema:
                type: integer
            X-Bulk-Failures:
              description: JSON array with failure details (base64 encoded if present)
              schema:
                type: string
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: No valid PDFs available or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error (too many invoices, empty list)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/send:
    post:
      tags:
        - InvoiceDelivery
      summary: Send multiple invoices by email
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/deliveries`, which sends the same
        email from the same body. The difference is that `recipients` is required there.
        This route keeps working until the date announced in its `Sunset` response header.

        Sends multiple invoices by email to the specified recipients.

        **Limits:**
        - Maximum 20 invoices per request
        - Maximum 25MB total attachment size

        **Email behavior:**
        - Single email with all PDFs as attachments
        - Uses BULK_INVOICES template

        **Validations:**
        - Invoices must have status ISSUED, PAID, SENT or OVERDUE (not DRAFT or VOIDED)
        - At least one recipient is required in the request. There is no fallback: a request
          without recipients is rejected.

        **Partial success:** If some invoices cannot be attached, the email will
        still be sent with available PDFs. Response includes `failures` array.
      operationId: sendInvoicesBulkEmail
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/deliveries
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
              properties:
                invoice_ids:
                  type: array
                  description: List of invoice IDs to send
                  minItems: 1
                  maxItems: 200
                  items:
                    $ref: '#/components/schemas/UUID'
                recipients:
                  type: array
                  description: |
                    Email recipients. At least one is required: no address is inferred from any
                    profile, and a request without recipients is rejected.
                  items:
                    $ref: '#/components/schemas/Email'
                cc:
                  type: array
                  description: CC recipients
                  items:
                    $ref: '#/components/schemas/Email'
                subject:
                  type: string
                  description: Custom email subject. If not provided, uses default template.
                  maxLength: 200
                message:
                  type: string
                  description: Custom message body. If not provided, uses default template.
                  maxLength: 2000
                language:
                  allOf:
                    - $ref: '#/components/schemas/Language'
                  description: Email language. If not provided, uses user's language.
            examples:
              send_to_accountant:
                summary: Send to accountant
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                  recipients:
                    - accountant@example.com
                  subject: Invoices for January 2025
                  message: Please find attached the invoices from last month for your review.
              send_with_cc:
                summary: Send with CC
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                  recipients:
                    - accountant@example.com
                  cc:
                    - copy@example.com
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - email_id
                          - sent_to
                          - sent_at
                          - total_invoices
                          - invoices_attached
                        properties:
                          email_id:
                            $ref: '#/components/schemas/UUID'
                          sent_to:
                            type: array
                            items:
                              $ref: '#/components/schemas/Email'
                          sent_at:
                            type: string
                            format: date-time
                          total_invoices:
                            type: integer
                            description: Total number of requested invoices
                          invoices_attached:
                            type: integer
                            description: Number of PDFs successfully attached
                          failures:
                            type: array
                            description: List of invoices that could not be attached
                            items:
                              type: object
                              properties:
                                invoice_id:
                                  $ref: '#/components/schemas/UUID'
                                error_code:
                                  type: string
                                  enum:
                                    - NOT_FOUND
                                    - PDF_NOT_GENERATED
                                    - INVALID_STATE
                                    - INTERNAL_ERROR
                                error_message:
                                  type: string
        '400':
          description: No valid invoices to send or no recipients specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error (too many invoices, invalid recipients)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/status:
    post:
      tags:
        - InvoiceDelivery
      summary: Change status of multiple invoices
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/batches` with `operation: STATUS`,
        which applies the same change. The batch takes one operation instead of one path per
        operation; `new_status` and `payment_date` travel in the same body.
        This route keeps working until the date announced in its `Sunset` response header.

        Changes the status of multiple invoices in a single operation.

        **Supported status changes:**
        - **SENT:** Mark multiple invoices as sent (from ISSUED)
        - **PAID:** Mark multiple invoices as paid (from ISSUED, SENT, or OVERDUE)

        **Partial success:** If some invoices cannot be updated, the operation
        continues with the others. The response includes details of failures.

        **Limits:**
        - Maximum 50 invoices per request

        **Validations:**
        - All invoices must belong to the authenticated user
        - Each invoice must be in a valid status for the requested transition
        - For PAID: payment_date is required
      operationId: changeInvoicesStatusBulk
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/batches
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
                - new_status
              properties:
                invoice_ids:
                  type: array
                  description: List of invoice IDs to update
                  minItems: 1
                  maxItems: 50
                  items:
                    $ref: '#/components/schemas/UUID'
                new_status:
                  type: string
                  description: Target status for the invoices
                  enum:
                    - SENT
                    - PAID
                payment_date:
                  type: string
                  format: date
                  description: Payment date (required when new_status is PAID)
                  example: '2025-01-15'
            examples:
              mark_as_sent:
                summary: Mark invoices as sent
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                  new_status: SENT
              mark_as_paid:
                summary: Mark invoices as paid
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
                  new_status: PAID
                  payment_date: '2025-01-15'
      responses:
        '200':
          description: Status change operation completed (may include partial failures)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResponse'
        '400':
          description: Invalid request (empty list, missing payment_date for PAID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error (unsupported status, too many invoices)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/bulk/issue:
    post:
      tags:
        - InvoiceDelivery
      summary: Issue multiple draft invoices
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/batches` with `operation: ISSUE`,
        which issues the same drafts. The batch takes one operation instead of one path per
        operation.
        This route keeps working until the date announced in its `Sunset` response header.

        Issues up to 50 draft invoices, each one assigned its definitive number.
        Equivalent to calling `POST /v1/invoices/{invoice_id}/issue` once per invoice.

        **Not atomic.** Issuing is irreversible, and each invoice is issued in its own
        transaction: if one fails, the ones already issued stay issued. The response
        reports which succeeded and which failed.

        PDF, Veri*Factu submission and email happen asynchronously, as in the
        single-invoice endpoint. There is no `wait_for_pdf` option.
      operationId: issueInvoicesBulk
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/batches
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoice_ids
              properties:
                invoice_ids:
                  type: array
                  description: Draft invoice IDs to issue
                  minItems: 1
                  maxItems: 50
                  items:
                    $ref: '#/components/schemas/UUID'
            examples:
              issue_drafts:
                summary: Issue reviewed drafts
                value:
                  invoice_ids:
                    - 550e8400-e29b-41d4-a716-446655440001
                    - 550e8400-e29b-41d4-a716-446655440002
      responses:
        '200':
          description: Issue operation completed (may include partial failures)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResponse'
        '400':
          description: Invalid request (empty list)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error (too many invoices)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/pdf:
    get:
      tags:
        - InvoiceDelivery
      summary: Get invoice PDF download URL
      description: |
        **Deprecated.** Use `GET /v1/companies/{company_id}/invoices/{invoice_id}/pdf`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Generates a temporary pre-signed URL to download the invoice PDF.

        **Security:**
        - URL expires automatically in 5 minutes
        - HMAC signature prevents tampering
        - Only allows download (GET), no modification

        **Benefits:**
        - Direct download from storage (bypasses backend)
        - Better performance and lower server load
        - Compatible with browser cache and CDN
        - Ideal for large files

        **Frontend usage:**
        ```javascript
        const response = await fetch('/v1/invoices/{invoice_id}/pdf');
        const { download_url } = await response.json();
        window.open(download_url, '_blank'); // Direct download
        ```

        **Format:** PDF is generated according to Spanish tax regulations.
      operationId: generateInvoicePdf
      x-successor:
        method: GET
        path: /v1/companies/{company_id}/invoices/{invoice_id}/pdf
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:read
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Download URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePdfResponse'
        '202':
          description: |
            The invoice exists but its PDF is still being generated asynchronously
            (PDFs are produced after emission, not synchronously). No body is returned.
            Poll this same endpoint until it responds `200` with the download URL.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/pdf/preview:
    get:
      tags:
        - InvoiceDelivery
      summary: Preview draft invoice PDF
      description: |
        **Deprecated.** Use `GET /v1/companies/{company_id}/invoices/{invoice_id}/pdf/preview`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Generates a PDF preview for a draft invoice and returns the binary content directly.

        **Requirements:**
        - Invoice must be in BORRADOR (draft) status
        - The PDF shows "BORRADOR" as the invoice number
        - No VeriFactu QR code is included

        **Behavior:**
        - PDF is generated on-the-fly (not stored)
        - Each request regenerates the PDF (reflects latest draft changes)
        - Response is `application/pdf` for direct browser preview
      operationId: previewDraftInvoicePdf
      x-successor:
        method: GET
        path: /v1/companies/{company_id}/invoices/{invoice_id}/pdf/preview
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:read
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID (must be a draft)
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: PDF preview generated successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Invoice is not in draft status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/send:
    post:
      tags:
        - InvoiceDelivery
      summary: Send invoice by email
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/{invoice_id}/send`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Sends the invoice by email to the customer.

        **Email:** Sent to the billing emails configured for the customer.

        **Attachments:** Includes the invoice PDF.
      operationId: sendInvoiceEmail
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/{invoice_id}/send
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email_id:
                            $ref: '#/components/schemas/UUID'
                          sent_to:
                            type: array
                            items:
                              $ref: '#/components/schemas/Email'
                          sent_at:
                            type: string
                            format: date-time
        '400':
          description: Customer has no configured emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/mark-paid:
    post:
      tags:
        - InvoiceLifecycle
      summary: Mark invoice as paid
      description: |
        **Deprecated.** Use `PUT /v1/companies/{company_id}/invoices/{invoice_id}/status` with `{"status": "PAID"}`,
        which behaves identically. `payment_date` and `payment_method` travel in the same body.
        This route keeps working until the date announced in its `Sunset` response header.

        Marks an invoice as paid.

        **Status change:** `SENT` → `PAID`

        **Note:** Send `Content-Type: application/json` even when body is empty.
      operationId: markInvoicePaid
      x-successor:
        method: PUT
        path: /v1/companies/{company_id}/invoices/{invoice_id}/status
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_date:
                  type: string
                  format: date
                  description: Payment date (defaults to today)
                  example: '2025-01-15'
                payment_method:
                  $ref: '#/components/schemas/PaymentInfo'
                  description: |
                    Payment details object (not a string enum). Example:
                    `{ "method": "BANK_TRANSFER", "iban": "ES9121000418450200051332" }`
      responses:
        '200':
          description: Invoice marked as paid successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot mark as paid (invalid status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/void:
    post:
      tags:
        - InvoiceLifecycle
      summary: Void invoice
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/{invoice_id}/void`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Voids an invoice by changing its status to `VOIDED`.

        **Status change:** `ISSUED`, `SENT`, `OVERDUE`, `PAID` or `RECTIFIED` → `VOIDED`

        **Use when:** The operation never took place (invoice issued by mistake, duplicate, etc.)
        For invoices already submitted to VeriFactu, the cancellation is sent to AEAT automatically.

        **Note:** If the operation did take place but with errors, use the corrective invoice endpoint instead.

        **Proformas:** voiding an `ACTIVE` proforma is a direct status change with no fiscal
        effect. It creates no corrective invoice and is not sent to the AEAT. The voided
        proforma is kept as a record of a rejected or withdrawn offer and stays listed.
      operationId: voidInvoice
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/{invoice_id}/void
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidInvoiceRequest'
            examples:
              void_by_error:
                $ref: '#/components/examples/void-issued-by-error'
      responses:
        '200':
          description: Invoice voided successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: |
            Cannot void invoice: the transition is not supported from its current status
            (`TRANSITION_NOT_SUPPORTED`), or the request data is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            The invoice is already `VOIDED` (`INVOICE_ALREADY_VOIDED`). Voiding is not
            repeatable: treat this as a retry of a request that already landed, not as a
            new failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/corrective:
    post:
      tags:
        - InvoiceLifecycle
      summary: Create corrective invoice
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/{invoice_id}/corrective`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Creates a corrective invoice to correct or void an issued invoice.

        **Rectification types:**
        - **TOTAL**: Completely voids the original invoice (original status → VOIDED)
        - **PARTIAL**: Partially corrects the original invoice (original status → RECTIFIED)

        **VeriFactu codes:**
        - R1: Legal error and Art. 80 One, Two and Six LIVA
        - R2: Article 80 Three LIVA (Bankruptcy)
        - R3: Article 80 Four LIVA (Bad debts)
        - R4: Other causes
        - R5: Simplified invoices (only for simplified)

        **Validations:**
        - Original invoice must be in status ISSUED, SENT, PAID, OVERDUE or RECTIFIED
        - Cannot rectify a DRAFT invoice (must be issued first)
        - Cannot rectify a VOIDED invoice (final status)
        - For TOTAL rectification: Another total corrective cannot already exist
        - For PARTIAL rectification: Multiple partial correctives are allowed

        **Lines:**
        - TOTAL: Optional (if not provided, original lines are copied with negated amounts)
        - PARTIAL: REQUIRED (adjustment lines with positive or negative amounts)

        **Series:**
        - Omit `series_id` and the corrective invoice is numbered in your company's **default
          series for corrective invoices** — the same series the dashboard preselects. It is
          NOT numbered in the original invoice's series, which is an ordinary or simplified one.
        - Send `series_id` explicitly to pick a specific corrective series.
        - Never created for you: if the company has no default corrective series the request
          fails with `422 SERIES_DEFAULT_NOT_FOUND`. Check
          `GET /v1/configuration/series/defaults-status` to see which default is missing.
      operationId: createCorrectiveInvoice
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/{invoice_id}/corrective
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID to rectify
          schema:
            $ref: '#/components/schemas/UUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorrectiveInvoiceRequest'
            examples:
              corrective_total_r1:
                $ref: '#/components/examples/corrective-total-r1'
              corrective_total_r4:
                $ref: '#/components/examples/corrective-total-r4'
              corrective_partial_r2:
                $ref: '#/components/examples/corrective-partial-r2'
              corrective_partial_r3:
                $ref: '#/components/examples/corrective-partial-r3'
              corrective_r1_partial_discount:
                $ref: '#/components/examples/r1-partial-discount'
              corrective_r5_total_simplified:
                $ref: '#/components/examples/r5-total-simplified'
      responses:
        '201':
          description: Corrective invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Invalid rectification data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Original invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A total corrective invoice already exists for this invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: 'Original invoice cannot be rectified (invalid status); or the company/NIF is not ready to issue in this environment — `error.code` is `EMISSION_NOT_READY` and `error.details.blockers[]` lists the reasons (`COMPANY_NOT_ACTIVATED`, `ENV_MISMATCH`, `NIF_NOT_REGISTERED`, `NIF_REPRESENTATION_REQUIRED` — the last one only in production, where the operation reaches the real tax authority); or the explicit `series_id` is a series of the wrong type — `error.code` is `SERIES_INCOMPATIBLE_DOC_TYPE` and `error.details.expected_document_type` says which type was required; or — when `series_id` is omitted — the company has no default series compatible with corrective invoices (`error.code` is `SERIES_DEFAULT_NOT_FOUND`, with `error.details.expected_document_type` and the endpoint that diagnoses it). That last one is an account configuration problem, not a request problem: create the corrective series, or send an explicit `series_id`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                incompatible_series:
                  $ref: '#/components/examples/incompatible_series'
                no_default_corrective_series:
                  $ref: '#/components/examples/no_default_corrective_series'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/issue:
    post:
      tags:
        - InvoiceLifecycle
      summary: Issue invoice (DRAFT → ISSUED)
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/{invoice_id}/issue`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Finalizes a draft invoice and marks it as issued.

        **Status change:** `DRAFT` → `ISSUED`

        **Actions performed:**
        - Assigns definitive invoice number according to configured series
        - Marks invoice as finalized (not modifiable)
        - Prepares invoice for sending to customer

        **Validations:**
        - Invoice must be in DRAFT status
        - All invoice data must be complete and valid

        **Note:** After issuing, the invoice can be sent to the customer via
        the `/v1/invoices/{invoice_id}/send` endpoint
      operationId: issueInvoice
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/{invoice_id}/issue
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
        - name: wait_for_pdf
          in: query
          required: false
          description: |
            If `true`, waits for PDF generation and returns the URL in the response.
            Adds ~1-2s latency but guarantees PDF is immediately available.
            If `false` (default), PDF is generated asynchronously.
          schema:
            type: boolean
            default: false
        - name: attach_source_invoices
          in: query
          required: false
          description: |
            Only applies when the invoice has automatic email sending enabled. If `true`, the
            email sent after issuing also attaches a ZIP (`suplidos_<invoice-number>.zip`) with
            the PDFs of the source invoices referenced by the invoice's SUPLIDO consolidation
            lines. Access to sources owned by managed accounts is re-checked with the same rules
            as issuing, and the request fails synchronously with an actionable error — never a
            partial ZIP — if the invoice has no consolidation sources
            (`ATTACH_SOURCE_INVOICES_NO_SOURCES`), a source is not reachable
            (`ATTACH_SOURCE_INVOICE_UNAVAILABLE`) or a source has no generated PDF
            (`ATTACH_SOURCE_PDF_MISSING`).
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Invoice issued successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot issue invoice (invalid status or incomplete data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: 'Invoice cannot be issued (validation failed), or the company/NIF is not ready to issue in this environment. In the latter case `error.code` is `EMISSION_NOT_READY` and `error.details.blockers[]` lists the reasons (`COMPANY_NOT_ACTIVATED`, `ENV_MISMATCH`, `NIF_NOT_REGISTERED`, `NIF_REPRESENTATION_REQUIRED`). Sandbox applies the same gate as production, except `NIF_REPRESENTATION_REQUIRED`: the signed representation is only required when the operation reaches the real tax authority.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/convert-to-invoice:
    post:
      tags:
        - Proforma
      summary: Convert a proforma into an invoice
      description: |
        **Deprecated.** Use `POST /v1/companies/{company_id}/invoices/{invoice_id}/convert-to-invoice`, which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Converts an accepted proforma into a real invoice.

        Only proformas in status `ACTIVE` can be converted. A proforma shown as `EXPIRED`
        is still `ACTIVE` underneath (expiry is only a signal), so it converts too.

        The proforma is preserved as the record of what the customer accepted. It keeps its
        `PRO-...` number and PDF and moves to the terminal status `CONVERTED`. The call
        creates a new `STANDARD` invoice in `DRAFT`, linked back through `source_proforma_id`,
        which you can edit and then issue as usual.

        Pass `issue: true` to emit that invoice in the same call, assigning a fiscal number
        and running the normal quota, ledger and VeriFactu pipeline. The operation is atomic.
        If emission fails (quota exhausted, unsigned NIF, misconfigured series) nothing is
        created and the proforma stays `ACTIVE`. Otherwise the invoice is left in `DRAFT` for
        you to fine-tune first.

        The call is idempotent. Once a proforma is `CONVERTED`, a second call returns a
        business error instead of creating another invoice.

        Common errors: `CONVERSION_REQUIRES_PROFORMA` when the document is not a proforma,
        `PROFORMA_NOT_CONVERTIBLE` when it is not in `ACTIVE`, and `PROFORMA_ALREADY_CONVERTED`
        when it has already been converted.
      operationId: convertProformaToInvoice
      x-successor:
        method: POST
        path: /v1/companies/{company_id}/invoices/{invoice_id}/convert-to-invoice
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Proforma ID to convert
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertProformaToInvoiceRequest'
      responses:
        '201':
          description: Invoice created successfully from the proforma (draft, or emitted when `issue` is true)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The proforma has already been converted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Document is not a proforma, or its status does not allow conversion, or the company/NIF is not ready to issue in this environment. In the latter case `error.code` is `EMISSION_NOT_READY` and `error.details.blockers[]` lists the reasons (`COMPANY_NOT_ACTIVATED`, `ENV_MISMATCH`, `NIF_NOT_REGISTERED`, `NIF_REPRESENTATION_REQUIRED`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/mark-sent:
    post:
      tags:
        - InvoiceLifecycle
      summary: Mark invoice as sent
      description: |
        **Deprecated.** Use `PUT /v1/companies/{company_id}/invoices/{invoice_id}/status` with `{"status": "SENT"}`,
        which behaves identically. The moment of sending travels in the same body as `sent_at`.
        This route keeps working until the date announced in its `Sunset` response header.

        Marks an invoice as sent manually.

        **Use case:** When the invoice was sent via WhatsApp, paper, or any other
        channel outside of the email system.

        **Status change:** `ISSUED` → `SENT`

        **Records:** Sets `sent_at` timestamp for tracking.

        **Note:** Send `Content-Type: application/json` even when body is empty.
      operationId: markInvoiceSent
      x-successor:
        method: PUT
        path: /v1/companies/{company_id}/invoices/{invoice_id}/status
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sent_at:
                  type: string
                  format: date-time
                  description: |
                    Custom timestamp for when the invoice was sent.
                    If not provided, the current time will be used.
                  example: '2025-01-29T18:45:00Z'
      responses:
        '200':
          description: Invoice marked as sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot mark as sent (invalid status - must be ISSUED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/revert-to-issued:
    post:
      tags:
        - InvoiceLifecycle
      summary: Revert invoice to issued status
      description: |
        **Deprecated.** Use `PUT /v1/companies/{company_id}/invoices/{invoice_id}/status` with `{"status": "ISSUED"}`,
        which behaves identically.
        This route keeps working until the date announced in its `Sunset` response header.

        Reverts an invoice from SENT to ISSUED status.

        **Use case:** To correct errors when an invoice was marked as sent by mistake.

        **Status change:** `SENT` → `ISSUED`

        **Side effects:** Clears the `sent_at` timestamp.
      operationId: revertInvoiceToIssued
      x-successor:
        method: PUT
        path: /v1/companies/{company_id}/invoices/{invoice_id}/status
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice reverted to ISSUED successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot revert (invoice must be in SENT status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/schedule:
    post:
      tags:
        - InvoiceLifecycle
      summary: Schedule invoice for future processing
      description: |
        **Deprecated.** Use `PUT /v1/companies/{company_id}/invoices/{invoice_id}/schedule`, which schedules the
        same way. The `action` flag is replaced by `generation_mode`, which is required there.
        This route keeps working until the date announced in its `Sunset` response header.

        Schedules a draft invoice to be automatically processed on a future date.

        **Status change:** `DRAFT` → `SCHEDULED`

        **Actions available:**
        - `DRAFT`: Convert to draft for manual review on the scheduled date
        - `ISSUE_AND_SEND`: Issue and send automatically on the scheduled date
      operationId: scheduleInvoice
      x-successor:
        method: PUT
        path: /v1/companies/{company_id}/invoices/{invoice_id}/schedule
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scheduled_for
              properties:
                scheduled_for:
                  type: string
                  format: date
                  description: Date when the invoice should be processed (must be today or future)
                  example: '2025-02-15'
                action:
                  $ref: '#/components/schemas/GenerationAction'
      responses:
        '200':
          description: Invoice scheduled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot schedule (invoice state does not allow scheduling)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            The request is well formed but cannot be processed. Returned with
            `SCHEDULED_DATE_IN_PAST` when `scheduled_for` is earlier than today; the rejected
            value is echoed in `error.details.scheduled_for`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/invoices/{invoice_id}/unschedule:
    post:
      tags:
        - InvoiceLifecycle
      summary: Cancel scheduled invoice
      description: |
        **Deprecated.** Use `DELETE /v1/companies/{company_id}/invoices/{invoice_id}/schedule`, which removes the
        same scheduling. It answers `204` with no body, where this route answers `200` with the
        invoice.
        This route keeps working until the date announced in its `Sunset` response header.

        Cancels a scheduled invoice and converts it back to draft.

        **Status change:** `SCHEDULED` → `DRAFT`

        The invoice can then be edited or manually issued.
      operationId: unscheduleInvoice
      x-successor:
        method: DELETE
        path: /v1/companies/{company_id}/invoices/{invoice_id}/schedule
      deprecated: true
      security:
        - ApiKeyAuth: []
        - OAuth2:
            - invoices:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          description: Invoice ID
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Invoice unscheduled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          description: Cannot unschedule (invoice must be in SCHEDULED status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
[...]
